# Module 2: Data wrangling using `pandas`

## Overview: Intro to pandas
This notebook is graciously provided by Wendy Fisher, who teaches the DSCI 403 course that is the 1st course in the four-part course series for the "Earth Resource Data Science" online graduate certificate at Mines - [learn more about the certificate here](https://online.mines.edu/er/)

It will help you learn the basics of `pandas`, a fast, powerful, flexible, and easy-to-use data analysis and manipulation tool.

For questions on this notebook, ask them on the [GEOL 557 slack](https://join.slack.com/t/minesgeo/shared_invite/zt-cqawm4lu-Zcfpf4mBLwjnksY6_umlKA)<a href="https://join.slack.com/t/minesgeo/shared_invite/zt-cqawm4lu-Zcfpf4mBLwjnksY6_umlKA">
<img src="https://cdn.brandfolder.io/5H442O3W/as/pl546j-7le8zk-ex8w65/Slack_RGB.svg" alt="Go to the GEOl 557 slack" width="100">
</a>

## Instructions

Work through this notebook - there will be several places where you need to fill-in-the-blank or write some code into an open cell. When you are finished, pat your self on the back!

--- 

## Course
**GEOL 557 Earth Resource Data Science I: Fundamentals**. GEOL 557 forms part 2 of the four-part course series for the "Earth Resource Data Science" online graduate certificate at Mines - [learn more about the certificate here](https://online.mines.edu/er/)


##### CSCI 303
# Introduction to Data  Science
<p/>
### 9 - pandas basics

## This Lecture
---
- Learn pandas basics

The obligatory setup code...

Modified by Thomas Martin, Sept 2023

In [20]:
# import helpful libraries to set up your environment
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import sklearn.datasets

from palmerpenguins import load_penguins

%matplotlib inline

## pandas
---
Python toolkit for data analysis

- provides Series and DataFrame data structures, which you can think of as very flexible tables for manipulating data!
- DataFrame type inspired by R
- designed to interact with the whole Python data science stack
- eases many of the data science tasks, particularly data "wrangling"

## Series
---
A one-dimensional array-like object (essentially a single column in an excel spreadsheet):

- contains a sequence of values of any type and can contain multiple types of data.
- has an associated array of *index* labels
  - labels do not have to be integers
  - labels do not have to be unique
  - labels do not have to be sequential

Like a NumPy array, a Series can be constructed from any iterable:

In [7]:
from pandas import Series

s = Series([42, 17, 99])
s

0    42
1    17
2    99
dtype: int64

The *index* is shown on the left

- default: RangeIndex (representing sequential integers)
- access index via `index` property of the Series object

In [8]:
s.index

RangeIndex(start=0, stop=3, step=1)

There is also a `values` property:

In [9]:
s.values

array([42, 17, 99], dtype=int64)

Things get interesting when you use *labels* for the index:

In [10]:
s = Series([42, 17, 99], index=['apple', 'pear', 'orange'])
s

apple     42
pear      17
orange    99
dtype: int64

Like a dictionary:

- associate values with labels
- retrieve values via [ ] operator

Unlike a dictionary:

- retain original order
- labels can duplicate

In [11]:
s2 = Series([42, 17, 99, 3.1415], index=['apple', 'pear', 'orange', 'apple'])
s2

apple     42.0000
pear      17.0000
orange    99.0000
apple      3.1415
dtype: float64

In [12]:
s2['orange']

99.0

In [13]:
s2[['orange', 'pear']] # note the double brackets used to call both orange and pear indices

orange    99.0
pear      17.0
dtype: float64

In [14]:
s2['apple']

apple    42.0000
apple     3.1415
dtype: float64

In [15]:
test = Series([1,2,3],index=['foo',17,True])
test

foo     1
17      2
True    3
dtype: int64

Note the last two lookups resulted in Series objects.

You can apply math and other NumPy-like operations:

In [16]:
s2 * 2

apple      84.000
pear       34.000
orange    198.000
apple       6.283
dtype: float64

In [17]:
np.cos(s2)

apple    -0.399985
pear     -0.275163
orange    0.039821
apple    -1.000000
dtype: float64

Data aligns by label in arithmetic operations:

In [ ]:
s3 = Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])
s4 = Series([5, 6, 7, 8, 9], ['d', 'b', 'a', 'e', 'd'])
s3 + s4

In [ ]:
s5 = Series(['hello', 'goodbye', np.NaN], index=['a','b','c'])
s5

Note the unmatched labels turned into NaNs - pandas notation for missing data.

Series objects can also be *named*, via the `name` property:

In [ ]:
s2.name = 'tonnes'
s2

The index can also be named:

In [ ]:
s2.index.name = 'fruit'
s2

In [ ]:
s2['orange']

## DataFrame
---
A data structure which functions much like a database table

- ordered collection of column series
- column index labels the columns, similar to attribute names
- row index labels rows, similar to a primary key

However, more complex than a database table (and more powerful!)

You can make a DataFrame object from a dictionary object:

In [ ]:
from pandas import DataFrame

df = DataFrame(
    {'fruit' : ['apple', 'orange', 'peach', 'apple'],
     'tonnes' : [42, 17, 99, 3.1415],
     'type' : ['pome', 'citrus', 'drupe', 'pome']})

df.index = ['crate 1', 'crate 2', 'crate 16', 'crate 11']
df
print(df)
df[:2][['fruit','type','tonnes']]

...although mostly we'll be getting DataFrames in other ways, such as from external sources.

DataFrame objects have much of the same extensible naming/indexing as Series objects:

In [ ]:
df.index = ['crate 1', 'crate 2', 'crate 16', 'crate 11']
df

In [ ]:
df.index.name = 'location'
df

You access columns by name, usign either [ ] or the . operator:

In [ ]:
df['fruit']  # or df.fruit

When you access a single column of a dataframe, pandas automatically converts it to a series. 

Write a line of code below to find out the type of df['fruit']

In [ ]:
# your code here

In [ ]:
df[['tonnes', 'fruit']] # Notice the double bracket notation to call two columns of a data frame

In [ ]:
# What is the type of df[['tonnes', 'fruit']]?
# Your code here

However, note that slicing notation applies to rows:

In [ ]:
df[1:3]

You can more precisely access rows by label or position using the `loc` and `iloc` special operators (*not methods!*):

In [ ]:
df.loc['crate 16', ['fruit','tonnes']]

In [ ]:
df.loc[:'crate 16', ['type', 'tonnes']]

In [ ]:
df.iloc[1:3,1:2] # when using .iloc[] to slice rows and columns, 
# the rows to slice are specified first (1:3) and then the columns (1:2), separated by a comma

In [ ]:
df.iloc[3]

There's also Boolean indexing:

In [ ]:
df[df['fruit']=='apple']

In [ ]:
df[df.tonnes > 20]

Confused yet?

We'll explore these further as needed.  Don't forget the pandas documentation under the Help menu in your notebook!

Also, here's a ["cheat sheet"](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf).

## Palmer Penguins Dataset
---
A fun toy dataset covering penguin morphology. Used to test basic machine learning models and data analysis.

In [21]:
penguins = load_penguins()
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [22]:
penguins.keys()

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [23]:
print(penguins.species)

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

We can view the raw data and target arrays...

Adding/deleting a column is simple:

In [25]:
penguins = penguins.drop(columns=['year'])
penguins

## Basic Statistics
---
pandas provides the `describe` function (similar to R's `summary`):

In [26]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

pandas has other convenience methods.  How about pairwise correlations in the data?

In [38]:
penguins[['bill_depth_mm', 'bill_length_mm', 'flipper_length_mm', 'body_mass_g']].corr()

,bill_depth_mm,bill_length_mm,flipper_length_mm,body_mass_g
bill_depth_mm,1.000000,-0.235053,-0.583851,-0.471916
bill_length_mm,-0.235053,1.000000,0.656181,0.595110
flipper_length_mm,-0.583851,0.656181,1.000000,0.871202
body_mass_g,-0.471916,0.595110,0.871202,1.000000

We can take sums, means, standard deviations, etc. by row or column:

In [41]:
penguins[['bill_depth_mm', 'bill_length_mm', 'flipper_length_mm', 'body_mass_g']].sum()

bill_depth_mm           5865.7
bill_length_mm         15021.3
flipper_length_mm      68713.0
body_mass_g          1437000.0
dtype: float64

In [42]:
penguins[['bill_depth_mm', 'bill_length_mm', 'flipper_length_mm', 'body_mass_g']].sum(axis=1)[:10]

0    3988.8
1    4042.9
2    3503.3
3       0.0
4    3699.0
5    3899.9
6    3862.7
7    4928.8
8    3720.2
9    4502.2
dtype: float64